<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="65fe7c">  <td>21/10/31 16:57:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestcase.launchbroweser()[pri:0, instance:testcases.LoginTestcase@614ca7df]">&gt;&gt;launchbroweser</td> 
<td>&nbsp;</td>  <td>main@417301556</td>   <td></td> </tr>
<tr bgcolor="65fe7c">  <td>21/10/31 17:00:50</td>   <td>210301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestcase.Register_case()[pri:0, instance:testcases.LoginTestcase@614ca7df]">Register_case</td> 
  <td>main@417301556</td>   <td></td> </tr>
</table>
