<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88c1b2">  <td>21/10/31 14:19:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTestcase.launchbroweser()[pri:0, instance:testcases.LoginTestcase@782663d3]">&gt;&gt;launchbroweser</td> 
<td>&nbsp;</td>  <td>main@336484883</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>21/10/31 14:20:44</td>   <td>59411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTestcase.Register_case()[pri:0, instance:testcases.LoginTestcase@782663d3]">Register_case</td> 
  <td>main@336484883</td>   <td></td> </tr>
</table>
